
body {
  /* Set initial background image */
  background-image: url('Logo.jpg');
  background-size: contain;
  background-position: center;
  /* Use keyframes to animate the background image */
  animation: changeBackground 10s infinite;
}

@keyframes changeBackground {
  0% {
    background-image: url('students12.jpg');
  }
  33% {
    background-image: url('SRH.jpg');
  }
  66% {
    background-image: url('hall.jpg');
  }
  100% {
    background-image: url('dew.jpg');
  }
}



.contact-section {
  background-color: none;
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: powderblue;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.submit-btn:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-top: 40px;
  text-align: center;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 15px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
